/*Actions sur tout le body*/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: rgb(49, 50, 61);
}

section{
    margin: 30px 2%;
}

figure{
    border-radius: 15px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgb(153, 150, 150);
}

h2{
    margin-left: 50px;
    font-weight: 600;
}


/*Le Titre + NAV*/

header{
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}

header ul{
    display: flex;
    list-style-type: none;
    color:  #0065FC;
    margin-top: 0px;
}

header ul li{
    padding: 50px 20px;
}

#Hebergements{
    border-top: 3px solid #0065FC;
}

#acti{
    color: black;
}

#inscrire{
    font-weight: bold;
}


/*Première Section*/

h1{
    margin-top: 0px;
}

.menu{
    margin-top: 0px;
}

section ul{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    padding-left: 1%;
}

.iconesdufiltre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    font-size: 20px;
    color: #0065FC;
    background-color:#DEEBFF;
    border-radius: 50%;
}

section ul li{
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 0px;
    border-left: none;
    border-radius: 50px;
    margin-left: 3%;
}

section ul li p{
    height: 20px;
    padding: 11px 15px 11px 35px;
    border: 2px solid #f2f2f2;
    border-radius: 15px 50px 50px 15px;
    margin: 0px 0px 0px -28px;
    border-left: none;
    z-index: -1;
}

.Filtres{
    display: flex;
    align-items: center;
}

.Filtres h3{
    margin-left: 1%;
}

h4{
    display: flex;
    align-items: center;
}

.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 2px solid #f2f2f2;
    color: #0065FC;
    border-radius: 50px;
    margin-right: 1%;
}

/*Formulaire*/

form{
    display: flex;
}

/*Deuxième Section*/

.hébergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article img{
    border-radius: 15px 15px 0px 0px;
    border: 5px rgb(255, 255, 255) solid;
}

article{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

article h2{
    margin-left: 5%;
    margin-top: 45px;
    margin-bottom: 15px;
}

article h3{
    margin-left: 5%;
}

.photohebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 27%;
    min-width: 200px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

aside img{
    float: left;
    border-radius: 15px 0px 0px 15px;
    border: 5px rgb(255, 255, 255) solid;
}

.titreaside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*Troisième Section*/

.activités{
    overflow: hidden;
}

.photoactivité{
    display: flex;
}


/*Bas de page*/

footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

footer ul{
    color: black;
    list-style-type: none;
    padding: 0;
}

footer ul li{
    margin: 10px 0px;
}

footer p{
    font-weight: bold;
    font-size: 18px;
}