@media all and (min-width: 700px) and (max-width: 1330px){


/*Deuxième Section*/

article{
    width: 100%;
    margin: 10px 0px;
}

article img{
    width: 100%;
    height: calc(100% - 90px);
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.photohebergement{
    justify-content: space-around;
}

aside{
    width: 100%;
    margin: 0px auto;
}

aside a{
    width: 70%;
    max-width: 750px;
}

aside h2{
    margin-top: 25px;
}


/*Troisième Section*/

.photoactivité{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
}

.photoactivité figure{
    max-width: 550px;
}

.panorama{
    grid-template-rows: 50% 50%;
}

}