@media all and (min-width: 699px) and (max-width: 1330px){


/*Deuxième Section*/

article{
    width: 100%;
    margin: 10px 0px;
}

article figure{
    width: 40%;
    height: 300px;
    min-width: 250px;
    margin: 20px;
}

article img{
    width: 100%;
    height: calc(100% - 90px);
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.photohebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

aside{
    width: 100%;
    margin: 0px auto;
}

.populaire{
    display: flex;
    flex-direction: column;
}

aside h2{
    margin-top: 45px;
    margin-bottom: 10px;
}

aside figure{
    width: 80%;
}

.titreaside{
    justify-content: space-around;
}

/*Troisième Section*/

.photoactivité{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
}

.panorama{
    grid-template-rows: 50% 50%;
}





}