@media all and (max-width: 700px){


section{
    margin: 30px 0px;
}

h1{
    text-align: center;
}


/*Header*/

header{
    margin: 0px;
}

.nav{
    display: none;
}

.navphone{
    display: flex;
    margin: 0px;
}

header ul{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header ul li{
    text-align: center;
    padding: 20px 20px;
}

.Hebergements{
    grid-column-start: 1;
    border-top: none;
    border-bottom: 3px solid #0065FC;
}

.inscrire{
    grid-column-start: 2;
    grid-row-start: 1;
}


/*Menu*/

.menu{
    margin: 10px;
}

.soustitre{
    text-align: center;
}

.Filtres{
    margin-top: 25px;
}


/*Formulaire*/

form{
    justify-content: center;
    height: 60px;
    width: 80%;
    margin: auto;
}

.logoformulaire{
    height: 100%;
    width: 60px;
    border-radius: 15px 0px 0px 15px;
}

.rechercher{
    height: 100%;
    width: 60px;
    border-radius: 15px;
    margin-left: -10px;
}
.rechercher i{
    display: block;
    color: white;
}

.rechercher p{
    display: none;
}

input {
    width: 80%;
}


/*Article*/

.photohebergement{
    justify-content: center;
}

article{
    width: 100%;
    border-radius: 0px;
    background-color: white;
}

article h2{
    margin: 30px 0px;
}

article a{
    width: 100%;
    margin: 10px 0px;
}


/*Aside*/

aside{
    width: 100%;
    border-radius: 0px;
    padding: 0px 5%;
}

aside h2{
    margin-top: 20px;
}


/*Activités*/

#activités{
    padding: 0px 2%;
    margin-bottom: 0px;
}

.activités{
    width: 100%;
}

.photoactivité{
    display: flex;
    flex-direction: column;
}

.photoactivité a{
    margin: 10px 0px;
}
.photoactivité figure{
    height: 220px;
    width: 100%;
    margin: 0px auto;
}

.photoactivité img{
    height: calc(100% - 60px);
}

.panorama{
    grid-template-rows: 50% 50%;
}


/*Footer*/

footer{
    flex-direction: column;
    text-align: center;
}

}


